/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 25px 30px 40px 30px;
    margin-top: 20px;
    border-radius: 5px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/* top players style  */
.top-players {
    margin-bottom: 20px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 8px;

}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* Top blog styling */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 50px;
}

.blog {
    display: flex;
}

.blog .blog-info {
    margin-left: 16px;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-title {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 6px;
}

.blog .blog-info p {
    color: #9F9F9F;
    font-size: 16px;
    margin-top: 0;
}

.blog .blog-info p a {
    color: #562EFF;
    font-size: 16px;
    text-decoration: none;
}

/* courses styles */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course {
    width: 250px;
    height: 270px;
    box-shadow: 5px 5px 10px rgb(231, 231, 231);
    padding: 12px;

}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star.filled {
    color: #FFC014;
    font-size: 12px;
}

.fa-star.empty {
    color: #AEAEAE;
    font-size: 12px;
    opacity: 0.25;
}

.course-duration {
    font-family: 'Open Sans', sans-serif;
    color: #FF4A60;
    background-color: #FFE4E8;
    padding: 4.5px 6px;
    border-radius: 16px;
}

/* Media queries */

/* Smartphones */
@media only screen and (max-width: 672px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .courses {
        grid-row-gap: 20px;
    }

    .player {
        flex-direction: column;
    }
}

/* Tablets */
@media only screen and (min-width:673px) and (max-width:990px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .courses {
        grid-row-gap: 20px;
    }
}